@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
font-family:'Poppins';
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 94%) !important;
  
 
}
input{
width: 70px!important;
height: 42px !important;
margin: 5px;
border-radius:  5px!important;
box-shadow: none !important;   

}

input:focus{
 border-color: hsl(259, 100%, 65%) !important;

}
input:hover{
   cursor: pointer;
}

button{
  background-color: hsl(259, 100%, 65%);
position:absolute;
top:140px;
left:110px;

}
button img{
  width:25px;

}
button:hover{
 background-color:  hsl(0, 0%, 0%);
  

  
}


.custom-rounded {
 border-radius: 15px !important;
 border-bottom-right-radius: 80px !important;
}
label{
  font-size: 10px;
  color:hsl(0, 1%, 44%);
  letter-spacing: 2px;
  margin-bottom: -3px!important;

}


input::placeholder {
  color: hsl(0, 1%, 44%)!important;  
  opacity: 1;      
}
hr{
  width: 250px;
  height: 2px; 
}
h2{
  font-size:45px!important;
  margin: -5px !important;
  
}
h2 span{
color: hsl(259, 100%, 65%); 
font-weight: 900;
}
.error-message{
  font-size: 7px;
  font-style: italic;

}
.ageResult{
  margin-top: -8px;
}
.error-placeholder {
  min-height: 25px!important;
   margin-top: -7px;
}

/* Medium screens */
@media (min-width: 768px) {
hr{
  width: 350px;
  height: 2px; 
}
input{
width: 100px!important;
height: 42px !important;
margin: 5px;
border-radius:  5px!important;
box-shadow: none !important;   
margin-bottom: -10px!important;
}

button{
  background-color: hsl(259, 100%, 65%);
position:absolute;
top:140px;
left:170px;

}
button img{
  width:30x;
 
}
.ageResult{
  margin: 15px;
}

h2{
  font-size:55px!important;
  margin: -5px !important;
  
}
.error-message{
  font-size: 9px;
  font-style: italic;

}

.error-placeholder {
  min-height: 25px!important;
  margin-top: 7px;
}

label{
  font-size: 12px;
}
}

/* Large screens */
@media (min-width: 1200px) {
  hr{
  width: 550px;
  height: 2px; 
 margin: 30px!important;
}

input{
width: 120px!important;
height: 55px !important;
margin-right: 10px!important;
border-radius:  7px!important;
box-shadow: none !important;   
margin-bottom: -20px!important;
}

button{
  background-color: hsl(259, 100%, 65%);
position:absolute;
top:150px;
left:525px;

}
button img{
  width:40px;
 
}

.ageResult{
  margin-top: -5px;
}

h2{
  font-size:75px!important;
  
}

.error-message{
  font-size: 12px;
  font-style: italic;

}

.error-placeholder {
  min-height: 25px!important;
  margin-top: 22px;
}

label{
  font-size: 15px!important;
  margin-bottom: 5px !important;
}
}
